@import "sass/variables.scss";

#sliderFigure {
  overflow: hidden;
}

#sliderFigure figure {
  position: relative !important;
  width: 500% !important;
  margin: 0 !important;
  left: 0 !important;
  animation: 20s slider infinite !important;
}
#sliderFigure figure img {
  width: 20%;
  float: left;
}
